<%= form_with(model: quest) do |form| %>
  <% if quest.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quest.errors.count, "error") %> prohibited this quest from being saved:</h2>

      <ul>
        <% quest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :問題, style: "display: block" %>
    <%= form.text_field :question %>
  </div>

  <div>
    <%= form.label :正解, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :誤答1, style: "display: block" %>
    <%= form.text_field :wrong_f %>
  </div>

  <div>
    <%= form.label :誤答2, style: "display: block" %>
    <%= form.text_field :wrong_s %>
  </div>

  <div>
    <%= form.submit "作成" %>
  </div>
<% end %>
