<div style="text-align: center;">
  <%= simple_form_for(@quest) do |f| %>
    <div class="alert alert-danger">
      <%= f.object.errors[:base].to_sentence %>
    </div>
    <div class="form-inputs">
      <%= f.input :question, label: "単語" %>
      <%= f.input :description, label:"意味" %>
    </div>
    <div id="tasks">
      <%= f.simple_fields_for :tasks do |task| %>
        <%= render "task_fields", f: task %>
      <% end %>
      <div class="links">
        <%= link_to_add_association "類似語追加", f, :tasks %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, value: "提出" %>
    </div>
  <% end %>
</div>