<p style="color: green;">
  <%= notice %>
</p>

<div id="quests" style="text-align: center;">
  <div class ="Main_T">単語管理</div>
  <hr>
  <div class ="container">
  <%= button_to "新規作成", new_quest_path, method: :get, class: "B_M" %>
  <%= button_to "メインメニューへ", mains_main_path, method: :get, class: "B_M" %>
    <%= button_to "csvダウンロードページ", download_csv_index_path, method: :get, class: "B_M" %>
  </div>
  <form id="search-form">
    <input type="text" id="search-input" placeholder="単語入力">
    <input type="button" id="search-button" value="検索">
  </form>
  <% @quests.each do |quest| %>
    <p>単語：<%= quest.question %> | 意味：<%= quest.description %></p>
    類似語 :
    <% quest.tasks.each do |task| %>
      <%= raw task.similar_word %> |
    <% end %>
    <%= button_to "詳細", quest, method: :get %>
  <% end %>
</div>
<script>
    $(document).ready(function() {
        $('#search-button').on('click', function() {
            var query = $('#search-input').val();

            $.ajax({
                url: '/quests',
                method: 'GET',
                data: { search: query },
                success: function(data) {
                    $('#quests').html(data);
                },
                error: function() {
                    console.log('エラーが発生しました。');
                }
            });
        });
        $('#search-input').on('keyup', function(event) {
            if (event.key === 'Enter') {
                $('#search-button').click();
            }
        });
    });
</script>