<p style="color: green;">
  <%= notice %>
</p>

<div id="quests" style="text-align: center;">
  <div class ="Main_T">単語管理</div>
<hr>
<div class ="container">
  <%= button_to "新規作成", new_quest_path, method: :get, class: "B_M"%>
  <%= button_to "メインメニューへ", mains_main_path, method: :get, class: "B_M" %>
  <%= link_to "csvで出力する",new_quest_path(format: :csv), class: "B_M" %>
</div>

  <form id="search-form" style="text-align: center;">
    <input type="text" id="search-input" placeholder="単語入力">
    <input type="button" id="search-button" value="検索">
  </form>

<table class ="voca_box" border ="1">
  <thead>
  <tr>
    <th>単語</th>
    <th>意味</th>
    <th>類似語</th>
    <th>詳細</th>
  </tr>
  </thead>
  <tbody>
  <% @quests.each do |quest| %>
    <tr>
      <td><%= quest.question %></td>
      <td><%= quest.description %></td>
      <td><% quest.tasks.each do |task| %>
          <%= raw task.similar_word %>
        <% end %>
      </td>
      <td><%= button_to "修正", edit_quest_path(quest),method: :get %>
        <%= button_to "削除", quest, method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
<style>
  a {
      text-decoration: none;
  }
  .B_M {
      background-color: whitesmoke;
      color: black;
      font-size: 16px;
      margin: 10px;
      cursor: pointer;
      border: none;
  }
  th, td {
      border: 1px solid #444444;
      padding: 10px;
  }
  .voca_box {
      margin : 50px auto;
      border-collapse: collapse;
      text-align: center;
      padding: 500px;;

  }
</style>
<script>
    $(document).ready(function() {
        $('#search-button').on('click', function() {
            var query = $('#search-input').val();

            $.ajax({
                url: '/quests',
                method: 'GET',
                data: { search: query },
                success: function(data) {
                    $('#quests').html(data);
                },
                error: function() {
                    console.log('エラーが発生しました。');
                }
            });
        });
        $('#search-input').on('keyup', function(event) {
            if (event.key === 'Enter') {
                $('#search-button').click();
            }
        });
    });
</script>