<p style="color: green"><%= notice %></p>
<div class ="Main_T">詳細画面</div>

<div style="text-align: center;">
  <%= render @quest %>
  <h2>類似語</h2>
    <% @quest.tasks.each do |task| %>
      <%= task.similar_word %>
    <br>
    <br>
    <% end %>
<%= button_to "修正", edit_quest_path(@quest),method: :get %>
  <%= button_to "削除", @quest, method: :delete %>
  <%= button_to "戻る", quests_path,method: :get %>
</div>
