<div class="Que_T">検索・修正・削除</div>

<table>
  <thead>
  <tr>
    <th>問題&nbsp;&nbsp;</th>
    <th>正解&nbsp;&nbsp;</th>
    <th>誤答1&nbsp;&nbsp;</th>
    <th>誤答2&nbsp;&nbsp;</th>
    <th>操作&nbsp;&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @que.each do |p| %>
    <tr>
      <td><%= p.question %></td>
      <td><%= p.description %></td>
      <td><%= p.wrong_f %></td>
      <td><%= p.wrong_s %></td>
      <td>
        <br>
        <%= button_to "修正", edit_que_path(p),method: :get, class: "B_R"%>
        <%= button_to "削除", que_path(p),method: :get, class: "B_R"%>
        <br>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>