<h1>問題を新規作成</h1>

<%= form_with model: @que do |f|%>
  <%= f.label :問題%>
  <%= f.text_field :question %>
  <br><br>
  <%= f.label :正解 %>
  <%= f.text_field :description %>
  <br><br>
  <%= f.label :誤答1 %>
  <%= f.text_field :wrong_f %>
  <br><br>
  <%= f.label :誤答2 %>
  <%= f.text_field :wrong_s %>
  <br><br>
  <%= f.submit "作成"%>
<% end %>
