<h1 style="text-align: center;">単語帳</h1>
<div class="login" style="text-align: center;">
<%= form_with(url: "/login/sign_in") do |f|%>
  <%= f.label :id%>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :password%>
  <%= f.password_field :password%>
  <br><br>
  <%= f.submit "ログイン" %>
<% end %>
  <br>
  <%= button_to "ユーザー作成", new_user_path, method: :get %>
  <br>
  <%= button_to "パスワードを忘れましたか？", '/finds/find', method: :get %>
</div>
<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

