<div style="text-align: center;">
  <h2>ユーザー作成ページ</h2>
<%= form_with model: @user do |f|%>
  <%= f.label :Id %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br><br>
  <%= f.label :password確認 %>
  <%= f.password_field :password_confirmation %>
  <br><br>
  <%= f.submit "ユーザー作成"%>
<% end %>
</div>
<% if flash[:fail] %>
  <div class="alert alert-success">
    <%= flash[:fail] %>
  </div>
<% end %>
