<div class="Main_T">ランダムクイズ</div>
<h3>正解数:<%= session[:correct]%></h3>
<h2>問題 <%= session[:answers] +1%> : <%= @random_quest.question %></h2>

<%= form_tag(submit_answer_start_path, method: :post) do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div id="radio-container">
  </div>
  <%= submit_tag "提出" %>
  <%end %>

  <script>
      document.addEventListener("DOMContentLoaded", function() {
          const radioContainer = document.getElementById("radio-container");
          const radioOptions = [
              { value: "description", label: "<%= @random_quest.description %>" },
              { value: "wrong_f", label: "<%= @random_quest.wrong_f %>" },
              { value: "wrong_s", label: "<%= @random_quest.wrong_s %>" }
          ];


          shuffleArray(radioOptions);


          radioOptions.forEach(option => {
              const radioLabel = document.createElement("label");
              const radioButton = document.createElement("input");
              radioButton.type = "radio";
              radioButton.name = "answer";
              radioButton.value = option.value;
              radioLabel.appendChild(radioButton);
              radioLabel.appendChild(document.createTextNode(option.label));
              radioContainer.appendChild(radioLabel);
              radioContainer.appendChild(document.createElement("br"));
          });
      });


      function shuffleArray(array) {
          for (let i = array.length - 1; i > 0; i--) {
              const j = Math.floor(Math.random() * (i + 1));
              [array[i], array[j]] = [array[j], array[i]];
          }
      }
  </script>