<div class ="Main_T">パスワード変更</div>
<br><br>
<div style="text-align: center;">
  <%= form_with model: @user do |f|%>
    <%= f.label @login_user%>
  <br><br>
  <%= f.label :password変更 %>
  <%= f.password_field :password %>
  <br><br>
  <%= f.label :password確認 %>
  <%= f.password_field :password_confirmation %>
  <br><br>
  <%= f.submit "ユーザー作成"%>
<% end %>
</div>
