<div class ="Main_T">メインメニュー</div>
<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>
<% if cookies[:name].present? && cookies[:password].present? %>
  <%= button_to "パスワード変更", mains_change_p_path,method: :get, class: "change_p"%>
  <%= button_to "ログアウト", main_sign_out_path, method: :delete, class: "logout"%>
<% end %>
<div class="container">
  <%= button_to "単語管理", quests_path, method: :get, class: "B_M"%>
  <%= button_to "クイズスタート", starts_start_p_path, method: :get, class: "B_S"%>
  <%= button_to "ランキング", ranking_rank_p_path, method: :get, class: "B_R"%>
</div>